@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

html, body {
  height: 100%;
}
/* Tailwind 预设已启用，以下仅做基础重置 */
body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
